// Modern days…

GCC_C_LANGUAGE_STANDARD = gnu11

// Because we have eyes, no need to break everything down…

GCC_TREAT_WARNINGS_AS_ERRORS = NO
SWIFT_TREAT_WARNINGS_AS_ERRORS = NO

// All symbols are declared 'private extern' unless explicitly marked to be exported using '__attribute__((visibility("default")))' in code.

GCC_SYMBOLS_PRIVATE_EXTERN = YES

// Use legacy Swift language version.

SWIFT_VERSION = 4.0

// Controls whether assertion logic provided by NSAssert is included in the preprocessed source code or is elided during preprocessing.

ENABLE_NS_ASSERTIONS = NO

INFOPLIST_FILE = accessory/info